SUPABASE_PROJECT_ID=tkweddqlriikqgylsuxz
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://tkweddqlriikqgylsuxz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=https://tkweddqlriikqgylsuxz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
